body{
  background-color: #0f3057;
  font-family: 'Quicksand', sans-serif;
  /* color: #00587a; */
  color: #0f3057;
  text-align: center;
}

.myDiv{
  background-color: rgba(231, 231, 222, 0.3);
  
  border-radius: 5px;
  border: #e7e7de 5px solid;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.4);
  animation: floatWidget 2s ease-in-out infinite alternate;
}

/* navbar */

#navBar li{
  margin: 10px;
  list-style: none;
  color: #e7e7de;
}


/* Intro Room */

.introRoom{
  margin-top: 3%;
  
}

.title-img{
  animation: floatWidget 2.5s ease-in-out infinite alternate;
}

.Name-font{
  font-family: 'Press Start 2P', cursive;
}

.title-name{
  text-align: left;
  padding: 2%;
}

.title-img{
  width: 100%;
}

@keyframes floatWidget{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(10px);
  }
}

/* cursor */

.txt-type > .txt{
  border-right: 0.2rem solid #0f3057;
}

@media(maxw)